@media screen and (max-width:425px){
    h3{
        width: fit-content;
        position: relative;
        left: -100px;
        top: -42px;
        padding-left: 15px;
        padding-top: 8px;
    }
    .p1:hover::after{
        opacity: 0;
    }
    #navbar{
        display: block;
        color: white;
        font-size: 30px;
        width: fit-content;
        margin: 15px 0 0 380px;
    }
    #close{
        display: block;
        position: relative;
        left: 380px;
        top: 260px;
        color: white;
        font-size: 35px;
        width: min-content;
        display: none;
    }
    .p1{
        width: 100%;
    }   
    .div2{
        display: none;
        flex-direction: column;
        position: relative;
        left: -870px;
        top: -35px;
        height: 250px;
        min-width: 425px;
        border-bottom-left-radius: 1px;
        text-align: center;
    }
    img{
        left: 0;
        margin-left: 13%;
    }
    .sec-2{
        left: 7px;
        top: 160px;
        width: fit-content;
    }
    .test{
        left: 50px;
    }
    .div1{
        width: 1px;
        height: 1px;
    }
    .p2{
        width: 418px;
    }
}
@media screen and (min-width:768px) and (max-width:1328px){
    .div2{
        padding-right: 20px;
    }
}
@media screen and (min-width:1067px){
    .div2{
        width: 100%;
    }
    body{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            width: 100%;
            min-height: 100%;
    }
}

